<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
    </head>
    <body>
	{% block nav %}{% endblock %}

	{% block body %}{% endblock %}

	{% block test %}
	<div class="container">
	    <div class="col-xs-6">test</div>
	    <div class="col-xs-6">test2</div>
	</div>
	{% endblock %}

	{% stylesheets
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
            'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css'
            filter='cssrewrite' output='css/compiled/common-stylesheets.css'
        %}
            <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}

	{% javascripts
	    'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'
	    'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js'
            output='js/compiled/common-javascripts.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
